### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import pandas as pd
import os
from functools import reduce
from IPython.core.display import display, HTML


file_to_load =os.path.join('Resources', 'purchase_data.csv')


purchase_df = pd.read_csv(file_to_load)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [17]:
total_num_players=purchase_df['SN'].nunique()
print("Total Number of Players: " + str(total_num_players))

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
num_unique_items=purchase_df['Item ID'].nunique()

# formatting before put into dataframe
average_item_price=(purchase_df['Price'].sum())/num_unique_items

#This assumes that for each purchase there is an SN
total_num_purchases=purchase_df['SN'].count()

total_revenue=purchase_df['Price'].sum()


summary_dict={'unique_items': num_unique_items, 
              'average_price': average_item_price, 
              'total_purchase_num': total_num_purchases, 
              'revenue_total': total_revenue}


summary_df=pd.DataFrame(summary_dict, index=['results'])

summary_df[['average_price', 'revenue_total']]=summary_df[['average_price', 'revenue_total']].applymap("${0:.2f}".format)



#Set it to output so I don't change the dataframe

summary_df

         unique_items average_price  total_purchase_num revenue_total
results           183        $13.00                 780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [19]:
gender_count_series=purchase_df.groupby('Gender')['SN'].nunique().to_frame()
gender_percent_series=((purchase_df.groupby('Gender')['SN'].nunique())/total_num_players *100).to_frame()

print(gender_count_series)

gender_percent_series=gender_percent_series.applymap("{0:.1f}%".format)
print(gender_percent_series)

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11
                          SN
Gender
Female                 14.1%
Male                   84.0%
Other / Non-Disclosed   1.9%


## Purchasing Analysis (Gender)

In [20]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender





gender_df = purchase_df.groupby('Gender').agg({'Price': ['count', 'mean', 'sum', 'max']})
gender_df.columns = ['puchase_count_by_gender', 'price_mean_by_gender', 'price_sum_by_gender', 'price_max_by_gender']
gender_df['average_per_person_by_gender']=(gender_df['price_sum_by_gender'])/gender_df['puchase_count_by_gender']
gender_df2=gender_df

gender_df2[['price_mean_by_gender','price_sum_by_gender', 'price_max_by_gender', 'average_per_person_by_gender']]=gender_df[['price_mean_by_gender', 'price_sum_by_gender', 'price_max_by_gender', 'average_per_person_by_gender']].applymap("${0:.2f}".format)

gender_df2

,puchase_count_by_gender,price_mean_by_gender,price_sum_by_gender,price_max_by_gender,average_per_person_by_gender
Gender,,,,,
Female,113,$3.20,$361.94,$4.90,$3.20
Male,652,$3.02,$1967.64,$4.99,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$4.75,$3.35

In [21]:
player_df = purchase_df.groupby(['Gender', 'SN']).agg({'Price': ['count', 'mean', 'sum', 'max']})
player_df.columns = ['puchase_count_by_person', 'price_mean_by_person', 'price_sum_by_person', 'price_max_by_person']
player_df2=player_df

player_df2[['puchase_count_by_person', 'price_mean_by_person', 'price_sum_by_person', 'price_max_by_person']]=\
            player_df[['puchase_count_by_person', 'price_mean_by_person', 'price_sum_by_person', 'price_max_by_person']]\
            .applymap("${0:.2f}".format)

player_df2

                                    puchase_count_by_person  \
Gender                SN
Female                Adastirin33                     $1.00
                      Aerithllora36                   $2.00
                      Aethedru70                      $1.00
                      Aidain51                        $1.00
                      Aiduesu86                       $1.00
...                                                     ...
Other / Non-Disclosed Lirtim36                        $1.00
                      Maluncil97                      $2.00
                      Rairith81                       $1.00
                      Siarithria38                    $2.00
                      Sundim98                        $1.00

                                    price_mean_by_person price_sum_by_person  \
Gender                SN
Female                Adastirin33                  $4.48               $4.48
                      Aerithllora36                $4.32               $8.64
                      Aethedru70                   $3.54               $3.54
                      Aidain51                     $3.45               $3.45
                      Aiduesu86                    $4.48               $4.48
...                                                  ...                 ...
Other / Non-Disclosed Lirtim36                     $1.33               $1.33
                      Maluncil97                   $2.64               $5.28
                      Rairith81                    $2.22               $2.22
                      Siarithria38                 $3.46               $6.91
                      Sundim98                     $4.75               $4.75

                                    price_max_by_person
Gender                SN
Female                Adastirin33                 $4.48
                      Aerithllora36               $4.90
                      Aethedru70                  $3.54
                      Aidain51                    $3.45
                      Aiduesu86                   $4.48
...                                                 ...
Other / Non-Disclosed Lirtim36                    $1.33
                      Maluncil97                  $3.10
                      Rairith81                   $2.22
                      Siarithria38                $3.81
                      Sundim98                    $4.75

[576 rows x 4 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [22]:

bins=pd.cut(purchase_df['Age'],[5,10,15,20, 25, 30, 35, 40, 120], labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-40', '40+'], right=False)  


age_df=purchase_df.groupby(bins).agg({'Age': ['mean'], 'SN':['nunique'], 'Price': ['mean', 'min', 'max', 'sum']})


age_df.columns=['mean_age_in_range', 'num_SNs', 'price_average', 'lowest_price', 'highest_price', 'total_price']

age_df['percent_in_age_group']=(age_df['num_SNs']*age_df['price_average'])/total_num_players* 100

age_df2=age_df
age_df3=age_df2

age_df2[['mean_age_in_range']]=age_df3[['mean_age_in_range']].applymap("{0:.2f}".format)
        


age_df2[['percent_in_age_group']]=age_df3[['percent_in_age_group']].applymap("{0:.1f}%".format)

#Couldn't get this to format without changing the age_df 'total_price' into a string

# tried 
# age_df2[['lowest_price', 'highest_price', 'total_price']]=age_df3[['lowest_price', 'highest_price', 'total_price']]\
# .applymap("${0:.2f}%".format)
        

age_df2

,mean_age_in_range,num_SNs,price_average,lowest_price,highest_price,total_price,percent_in_age_group
Age,,,,,,,
<10,7.87,17,3.353478,1.29,4.93,77.13,9.9%
10-14,11.39,22,2.956429,1.03,4.94,82.78,11.3%
15-19,16.79,107,3.035956,1.01,4.91,412.89,56.4%
20-24,21.84,258,3.052219,1.00,4.99,1114.06,136.7%
25-29,26.00,77,2.900990,1.00,4.94,293.00,38.8%
30-34,31.38,52,2.931507,1.02,4.93,214.00,26.5%
35-40,36.71,31,3.601707,1.60,4.91,147.67,19.4%
40+,41.54,12,2.941538,1.33,4.93,38.24,6.1%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
total_price_sum=age_df['total_price'].sum()




age_df2['per_purchase_total_by_age']=(age_df['total_price'])/total_price_sum * 100




age_df2[['per_purchase_total_by_age', 'price_average']]=age_df3[['per_purchase_total_by_age', 'price_average']]\
        .applymap("${0:.2f}".format)

age_df2

,mean_age_in_range,num_SNs,price_average,lowest_price,highest_price,total_price,percent_in_age_group,per_purchase_total_by_age
Age,,,,,,,,
<10,7.87,17,$3.35,1.29,4.93,77.13,9.9%,$3.24
10-14,11.39,22,$2.96,1.03,4.94,82.78,11.3%,$3.48
15-19,16.79,107,$3.04,1.01,4.91,412.89,56.4%,$17.35
20-24,21.84,258,$3.05,1.00,4.99,1114.06,136.7%,$46.81
25-29,26.00,77,$2.90,1.00,4.94,293.00,38.8%,$12.31
30-34,31.38,52,$2.93,1.02,4.93,214.00,26.5%,$8.99
35-40,36.71,31,$3.60,1.60,4.91,147.67,19.4%,$6.21
40+,41.54,12,$2.94,1.33,4.93,38.24,6.1%,$1.61

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:


top_spenders_df=purchase_df.groupby('SN').agg({'Item ID':['count'],'Price': ['mean', 'min', 'max', 'sum' ], })

top_spenders_df.columns=['num_purchases', 'average_per_person', 'min_per_person', 'max_per_person', 'total_per_person']
top_spenders_df2=top_spenders_df
top_spenders_df3=top_spenders_df2
top_spenders_df2[['average_per_person', 'min_per_person', 'max_per_person', 'total_per_person' ]]=\
    top_spenders_df3[['average_per_person', 'min_per_person', 'max_per_person', 'total_per_person' ]]\
    .applymap("${0:.2f}".format)
sorted_top_spenders=top_spenders_df.sort_values('total_per_person', ascending=False)
sorted_top_spenders.head()

,num_purchases,average_per_person,min_per_person,max_per_person,total_per_person
SN,,,,,
Haillyrgue51,3,$3.17,$2.38,$4.60,$9.50
Phistym51,2,$4.75,$4.60,$4.90,$9.50
Lamil79,2,$4.64,$4.40,$4.89,$9.29
Aina42,3,$3.07,$1.02,$4.35,$9.22
Saesrideu94,2,$4.59,$4.32,$4.86,$9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
most_pop_df=purchase_df.groupby(['Item ID', 'Item Name']).agg({'Item ID':['count'],'Price': ['sum' ] })

most_pop_df.columns=['purchase_count', 'price_total']


sorted_most_pop_df=most_pop_df.sort_values('purchase_count', ascending=False)

sorted_most_pop_df[['price_total']]=most_pop_df[['price_total']].applymap("${0:.2f}".format)

sorted_most_pop_df.head()

,,purchase_count,price_total
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76
145,Fiery Glass Crusader,9,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77
82,Nirvana,9,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame